@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17pt;
    background-color: black;
    color: aliceblue;
}

header {
    background-color: black;
    height: 60px;
    width: 100vw;
}

header > h1 {
    text-align: center;
    margin-top: 10px;
}

main {
    background-color: rgb(0, 0, 0);
    height: 80vh;
    width: 100vw;
    display: flex;
}

aside#menu, aside#principal, aside#secundario {
    display: flex;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(18, 18, 18);
    height: 570px;
}

aside.menu {
    flex-basis: 100px;
    flex-shrink: 0;
    flex-grow: 0;
    
}

aside.principal {
    flex-basis: 400px;
    flex-shrink: 0;
    flex-grow: 1;
}

aside.secundario {
    flex-basis: 170px;
    flex-shrink: 1;
    flex-grow: 1;
}

aside.play {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    height: 75px;
    background-color: rgb(12, 13, 12);
}
