@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17pt;
    background-color: black;
    color: aliceblue;
}

header {
    background-color: black;
    height: 60px;
    width: 100vw;
}

header > h1 {
    text-align: center;
    margin-top: 10px;
}

main {
    background-color: rgb(0, 0, 0);
    height: 90vh;
    width: 100vw;
    display: flex;
}

aside#menu {
    display: flex;
    flex-basis: 100px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(18, 18, 18);
    flex-shrink: 0;
    flex-grow: 0;
}

aside#principal {
    display: flex;
    flex-basis: 400px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(18, 18, 18);
    flex-shrink: 0;
    flex-grow: 1;
}

aside#secundario {
    display: flex;
    flex-basis: 170px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(18, 18, 18);
    flex-shrink: 1;
    flex-grow: 1;
}