@charset "UTF-8";

/* Configurasões gerais*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(47, 61, 253);
    color: white;
    background-size: contain;
    background-repeat: no-repeat;
}